<h1>Welcome to CSE Motors!</h1>
<div class="overlay">
    <p><span class="delorean-promo">DMC Delorean</span><br>3 Cup holders<br>Superman Doors<br>Fuzzy dice!1</p>
    <button class="own-delorean">Own Today</button>
    <img class="delorean-image-index" src="/images/vehicles/delorean-tn.jpg" alt="Delorean Car">
    </div>


<h2 id="delorean-reviews">DMC Delorean Reviews</h2>

<ul class="reviews">
    <li>"So Fast it's almost like traveling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>"I'm feeling McFly!." (5/5)</li>
    <li>"the most futuristic ride of our day." (4.5/5)</li>
    <li>"80's livin and I love it!." (5/5)</li>
</ul>

<h2 class="upgrades">Delorean Upgrades</h2>

<div class="grid-container">
<!-- Flux Capacitor-->
    <div class="item">
        <div class="image-container">
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
        </div>
        <p class="item-name">Flux Capacitor</p>
    </div>
    
<!-- Flame Decals-->      
        <div class="item">
            <div class="image-container"> 
                <img src="/images/upgrades/flame.jpg" alt="Flux Capacitor">
            </div>
        <p>Flame Decals</p>
    </div>

<!-- Bumper Sticker-->
    <div class="item">
        <div class="image-container"> 
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Flux Capacitor">
        </div>
        <p>Bumper Sticker</p>
    </div>

<!-- Hub Caps-->
    <div class="item">
        <div class="image-container"> 
        <img src="/images/upgrades/hub-cap.jpg" alt="Flux Capacitor">
        </div>
        <p>Hub Caps</p>
    </div>

</div>