<body>
    <h1>Add New Vehicle</h1>
    <% if (flash) { %>
        <div class="flash-message"><%= flash %></div>
    <% } %>
    <% if (errors) { %>
        <div class="error-messages">
            <% errors.forEach(function(error) { %>
                <p><%= error.msg %></p>
            <% }); %>
        </div>
    <% } %>
    <form action="/inv/add-inventory" method="POST">
        <label for="classification">Classification:</label>
        <select name="classification" id="classification">
            <% classifications.forEach(function(classification) { %>
                <option value="<%= classification.classification_id %>"><%= classification.classification_name %></option>
            <% }); %>
        </select>
        <input type="submit" value="Add Vehicle">
    </form>
</body>