

<div>
    <% if (title) { %>
        <h1><%= title %></h1>
    <% } else { %>
        <h1>Vehicle Management</h1>
    <% } %>
    <p>Welcome to the Vehicle Management dashboard.</p>
    <section>
        <p>Options coming soon:</p>
        <ul>
            <li>Add New Classification</li>
            <li>Add New Vehicle</li>
            <li>View Inventory</li>
        </ul>
    </section>
</div>